<div style="overflow:auto;height:100%;color: #333333;line-height: 2;font-size: 17px;">
	<div class="mpp-block" style="width: 100%;display: block;">
		<main role="main">
		<section>
			<div style="margin-bottom: 25px;">
				<div>
					<div style="margin-bottom:15px;;max-width: 100%;margin: 0 auto;">
						<div style="width: 100%;float: left;min-height: 1px;padding: 0 40px;position: relative;">
							<h1 style="font-size: 2.4em;color:#007EB9;" id="solution">
								<div name="solution">{{'solution-photo-title.header' | translate}}</div>
							</h1>
						</div>
					</div>
				</div>
				<div>
					<div style="margin-bottom: 30px;max-width: 100%;margin: 0 auto;">
						<div style="margin-top:20px;float: left;min-height: 1px;padding: 0 40px;position: relative;">
							<div style="font-size: 1.28em;font-weight: 200;line-height: 1.6em;margin-bottom: 30px;">
								<p style="margin: 0 0 0.8em;">
									{{'solution-photo-title.content' | translate}}
								</p>
							</div>
						</div>
					</div>
				</div>
			 <div>
					<div style="visibility: visible;">
						<div style="padding-top: 330px;">
							<div style="margin-bottom: 30px;max-width: 100%;margin: 0 auto;">
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:14px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/mobilegaming.png" title="Mobile Gaming" alt="Mobile Gaming"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.mobileGaming' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="width:202px;overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;padding-bottom:13px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/dataroaming.png" title="Data Roaming" alt="Data Roaming" />
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.dataRoaming' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/Big-Data.png" title="Big Data" alt="Big Data"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.bigData' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/Mobility.png" title="Mobility" alt="Mobility"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.mobility' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
						<div>
							<div style="margin-bottom: 30px;max-width: 100%;margin: 0 auto;">
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/5g.png" title="5G" alt="5G"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.5g' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/Mobility.png" title="Mobility" alt="Mobility"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.mobility' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/onlinetraveling.png" title="Online Traveling" alt="Online Traveling"  />
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.onlineTraveling' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div style="min-height: 258px;width: 25%;float: left;padding: 0 10px;position: relative;">
									<div>
										<figure style="margin-bottom: 30px;text-align: center;margin: 0 ;">
											<a style="color: #007eb9;">
												<div style="overflow: visible;line-height: 0;cursor: pointer;border: 1px solid #ccc;margin-right:auto;margin-left:auto;width:202px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
													<img src="images/products/internetofthings.png" title="Internet of Traveling" alt="Internet of Traveling"/>
												</div>
											</a>
										</figure>
									</div>
									<div>
										<div style="margin-bottom: 25px;">
											<div>
												<p style="text-align: center;margin-top:2em;">
													<a href="">
														<b>{{'solution-photo-title.title.internetofThings' | translate }}</b>
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		<div style="padding: 30px 0;">
			<div style="zoom: 1;margin-right: auto;margin-left: auto;">
				<div style="width: 100%;float: left;padding: 0 10px;position: relative;">
					<div style="box-sizing: border-box;margin-top: 30px;">
						<hr>
					</div>
					<div style="margin-top: 40px;">
						<h2 style="text-align: center;font-size: 2em;color: #D9534F;">{{'solution-start.header' | translate }}</h2>
					</div>
					<div>
						<div style="margin-bottom:30px;margin-right: auto;margin-left: auto;margin-top: 3em;color: inherit;">
							<div style="width: 33%;float: left;min-height: 1px;padding: 0 20px;position: relative;">
								<div style="">
									<figure style="text-align: center;">
										<div style="margin-left: auto;margin-right:auto;overflow: visible;line-height: 0;border: 1px solid #ccc;width:210px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
											<img alt="contact sales" src="images/products/contactsales.png">											
										</div>
									</figure>
								</div>
								<div style="color: inherit;">
									<h3 style="text-align: center;margin-top: 1.5em;" id="Contact Sales">
										<div name="Contact Sales">{{'solution-start.title.contactSales' | translate }}</div>
									</h3>
								</div>
								<div style="margin-bottom:25px ;">
									<div>
										<p style="text-align: center;">
											{{'solution-start.contactSales.one' | translate }}{{'solution-start.contactSales.two' | translate }}
										</p>
										<p style="text-align: center;"></p>
									</div>
								</div>
							</div>
							<div style="width: 33%;float: left;min-height: 1px;padding: 0 20px;position: relative;">								
								<div style="">
									<figure style="text-align: center;">
										<div style="overflow: visible;line-height: 0;border: 1px solid #ccc;margin-left: auto;margin-right:auto;width:210px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
											<img alt="contact sales" src="images/products/partners.png">											
										</div>
									</figure>
								</div>
								<div style="color: inherit;">
									<h3 style="text-align: center;margin-top: 1.5em;" id="Partners">
										<div name="Partners">{{'solution-start.title.partner' | translate }}</div>
									</h3>
								</div>
								<div style="margin-bottom:25px ;">
									<div>
										<p style="text-align: center;">
												{{'solution-start.partner' | translate }}
										</p>
										<p style="text-align: center;"></p>
									</div>
								</div>
							</div>
							<div style="width: 33%;float: left;min-height: 1px;padding: 0 20px;position: relative;">
								<div style="">
									<figure style="text-align: center;">
										<div style="margin-left: auto;margin-right:auto;overflow: visible;line-height: 0;border: 1px solid #ccc;width:210px;padding-bottom:12px;padding-top: 12px;background: -webkit-linear-gradient(top,#fff 0,#e8e8e8 100%);-webkit-border-radius:10px;">
											<img alt="contact sales" src="images/products/signupfortesting.png">											
										</div>
									</figure>
								</div>
								<div style="color: inherit;">
									<h3 style="text-align: center;margin-top: 1.5em;" id="Partners">
										<div name="Partners">{{'solution-start.title.signupforTesting' | translate }}</div>
									</h3>
								</div>
								<div style="margin-bottom:25px ;">
									<div>
										<p style="text-align: center;">
												{{'solution-start.signupforTesting' | translate }}
										</p>
										<p style="text-align: center;"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>	
		</div>
		</section>
	</main>
	</div>
</div>