[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080/
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit2
        password = secret
[auth]
       type = LDAP
[ldap]
       server = ldap://localhost
       accountBase = dc=linkernetworks,dc=com
       accountPattern = (&(objectClass=person)(uid=${username}))
       accountFullName = sn
       accountEmailAddress = mail
       accountSshUserName = cn
[sendemail]
        smtpServer = localhost
[container]
        user = root
        javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[index]
        type = LUCENE
