<div id="right-content" class="mpp-content">
	<div class="right-content-header">
		<div class="right-content-header-label">{{'AliCloud' | translate}}</div>
	</div>
	<div class="inner-content">
		<table class="table table-striped">
	         <thead>
	            <tr>
	                 <th>{{'common.account' | translate}}</th>
	                 <th>{{'common.url' | translate}}</th>	                
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	                  <td>linker</td>
	                  <td>https://ecs.console.aliyun.com</td>	                
	            </tr>	            
	         </tbody>
	   </table>
   </div>
   <div class="right-content-header">
		<div class="right-content-header-label">{{'LinkerCloud' | translate}}</div>
	</div>
	<div class="inner-content">
		<table class="table table-striped">
	         <thead>
	            <tr>
	                 <th>{{'common.account' | translate}}</th>
	                 <th>{{'common.url' | translate}}</th>	                
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	                  <td>linker</td>
	                  <td>http://linker.openstack.com</td>	                
	            </tr>	            
	         </tbody>
	   </table>
   </div>
</div>