<div class="modal-header">
     <h4 class="modal-title">{{'rightContent.linkops.createJob' | translate}}</h4>
</div> 
<div class="modal-body">
   <form class="form-horizontal">
	   <div class="form-group">
	    <label for="projectName" class="col-sm-3 control-label">{{'rightContent.linkops.projectName' | translate}}</label>
	    <div class="col-sm-9">
	      <span style="line-height:1.9;font-weight:600;">{{projectInfo.name}}</span>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="jobName" class="col-sm-3 control-label">{{'rightContent.linkops.jobName' | translate}}</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="jobName" placeholder="{{'rightContent.linkops.jobName' | translate}}" ng-model="jobInfo.name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="jobVersion" class="col-sm-3 control-label">{{'common.version' | translate}}</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="jobVersion" placeholder="{{'common.version' | translate}}" ng-model="jobInfo.version">
	    </div>
	  </div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close('execute')">{{'common.create' | translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="close('cancel')">{{'common.cancel' | translate}}</button>
</div>